/* main > div > article:first-of-type {
    display: flex;
    align-items: center;
} */

main>div>article:first-of-type>section:first-of-type {
    width: 90%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    /* gap: 2em; */
}

main>div>article:first-of-type>section:first-of-type img {
    display: block;
    width: 13em;
    height: 13em;

    align-self: center;

    border-radius: 50%;
    animation: shadow 1s -.5s infinite linear both alternate, shadow2 1s -.5s infinite linear both alternate;
}

@keyframes shadow {
    from {
        box-shadow: -.5em .5em 0 var(--secondere-color);
    }

    to {
        box-shadow: .5em -.5em 0 var(--secondere-color);
    }
}

@keyframes shadow2 {
    from {
        box-shadow: -.5em -.5em 0 var(--them-color);
    }

    to {
        box-shadow: .5em .5em 0 var(--them-color);
    }
}

main>div>article:first-of-type>section:first-of-type div {
    width: 100%;
    /* padding: 2em .5em 2em 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

main>div>article:first-of-type>section:first-of-type div h1,
main>div>article:first-of-type>section:first-of-type div p,
main>div>article:first-of-type>section:first-of-type div a {
    width: fit-content;
    max-width: 60%;
    text-align: center;
    padding: 0 .5em;

    position: relative;
    background-color: var(--bg);

    display: grid;
    place-items: center;

}

main>div>article:first-of-type>section:first-of-type div h1::before,
main>div>article:first-of-type>section:first-of-type div p::before {
    content: "";
    display: block;

    width: 90vw;
    height: .2em;

    position: absolute;
    top: calc(50% - .2em / 2);
    z-index: -1;

    background-color: var(--them-color);
    animation: lineEffect 1s 1 both linear;
}

@keyframes lineEffect {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}


.clock {
    width: fit-content;
    margin: auto;
    margin-top: 50px;
    background-color: #151932;
    /* width: 10em; */
    width: 10em;
    height: 10em;
    border-radius: 100%;
    display: grid;
    place-items: center;
    transition: 0.5s;
    /* box-shadow: 0 0 0 10px #151932, 0 0 35px 35px #252a54; */
    position: relative;
}

/* .clock::before {
    content: "";
    width: 285px;
    height: 285px;
    border: #292c4f solid 20px;
    position: absolute;
    top: -27.5px; */
    /* left: -27.5px;
    background-color: transparent;
    border-radius: 100%;
} */

.clock svg {
    position: absolute;
    width: 10em;
    height: 10em;
    /* top: 0;
    left: 0; */

    display: grid;
    place-items: center;
}

.clock svg circle {
    width: 10em;
    height: 10em;
    fill: none;
    stroke-width: 10px;
    stroke-linecap: round;
    stroke-dasharray: 817;
    stroke-dashoffset: 817;
    transform-box: fill-box;
    transform-origin: center;
    transform: rotate(-90deg);

    position: absolute;
    /* stroke: #1ab905; */
}

.clock svg circle:nth-of-type(1) {
    stroke-dashoffset: 0;
    opacity: 0.1;
    stroke: #f3f3f3;
}

.clock svg circle:nth-of-type(2) {
    stroke: red;
    /* 817 */
    --size:817;
    stroke-dashoffset: calc(817 - (817 * 100) / 100);
}