main>div>article:first-of-type {
    gap: 3em;
}

main>div>article:first-of-type>section:first-of-type {
    width: 90%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

main>div>article:first-of-type>section:first-of-type div:first-of-type {
    width: 13em;
    height: 13em;
    position: relative;
    border-radius: 50%;

    display: grid;
    place-items: center;

    margin-bottom: 1em;
}

main>div>article:first-of-type>section:first-of-type div:first-of-type:after {
    content: "";
    display: block;
    width: 110%;
    height: 110%;
    border-radius: 50%;

    position: absolute;
    z-index: -1;

    background-color: transparent;
    background-image: repeating-conic-gradient(from var(--angle, 0deg),
            var(--them-color) 44.8deg,
            transparent 45.2deg);
    animation: borderRotate 4s -1s linear infinite;
}

@keyframes borderRotate {
    100% {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
}

main>div>article:first-of-type>section:first-of-type div img {
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
    border-radius: 50%;

    align-self: center;

    /* box-shadow: -.5em .5em 0 var(--secondere-color); */
    /* animation: shadow 1s -.5s infinite linear both alternate; */
}

@keyframes shadow {
    from {
        box-shadow: -.5em .5em 0 var(--secondere-color);
    }

    to {
        box-shadow: .5em -.5em 0 var(--secondere-color);
    }
}

main>div>article:first-of-type>section:first-of-type div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

main>div>article:first-of-type>section:first-of-type div h1,
main>div>article:first-of-type>section:first-of-type div p,
main>div>article:first-of-type>section:first-of-type div a {
    width: fit-content;
    max-width: 60%;
    text-align: center;
    padding: 0 .5em;
    color: var(--titels-color);

    position: relative;
    background-color: var(--bg);

    display: grid;
    place-items: center;
}

main>div>article:first-of-type>section:first-of-type div a::before,
main>div>article:first-of-type>section:first-of-type div h1::before,
main>div>article:first-of-type>section:first-of-type div p::before {
    content: "";
    display: block;

    width: 90vw;
    height: .2em;

    border-radius: 2em;

    position: absolute;
    top: calc(50% - .2em / 2);
    z-index: -1;

    background-color: var(--them-color);
    animation: lineEffect 1s 1 both linear;
}

@keyframes lineEffect {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}


main>div>article:first-of-type>section:first-of-type h2 {
    margin-top: 2em;
}

/* circle */

main>div>article:first-of-type>section:nth-of-type(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.clock {
    width: fit-content;

    width: 10em;
    height: 10em;
    border-radius: 100%;
    display: grid;
    place-items: center;
    transition: 0.5s;
    position: relative;
    background-color: var(--dark-bg);
}

.clock svg {
    position: absolute;
    width: 10em;
    height: 10em;

    display: grid;
    place-items: center;
}

.clock svg circle {
    width: 10em;
    height: 10em;
    fill: none;
    stroke-width: 10px;
    stroke-linecap: round;
    stroke-dasharray: 817;
    stroke-dashoffset: 817;
    transform-box: fill-box;
    transform-origin: center;
    transform: rotate(-90deg);

    position: absolute;
}

.clock svg circle:nth-of-type(1) {
    stroke-dashoffset: 0;
    opacity: 0.1;
    stroke: #f3f3f3;
}

.clock svg circle:nth-of-type(2) {
    stroke: var(--them-color);
    stroke-dashoffset: calc(817 - (817 * 0) / 100);
}

main>div>article:first-of-type>button {
    display: none;
}


main>div>article:first-of-type>section:nth-of-type(3){
    display: none;
}







/* ************ */
/* larg screens */
/* ************ */

@media (min-width: 1250px) {
    main>div>article:first-of-type {
        display: grid;
        place-items: center;
        padding: 0;
    }

    main>div>article:first-of-type h2 {
        visibility: hidden;
    }

    main>div>article:first-of-type>section:first-of-type {
        width: 100%;
        height: 100%;
        /* background-color: red; */
        position: absolute;
        display: block;
    }

    /* my foto */
    main>div>article:first-of-type>section:first-of-type div:first-of-type {
        width: 8em;
        height: 10em;
        border-radius: 0;
        position: absolute;
        right: 25%;
        top: .5em;
        z-index: 2;

        margin: 0;
    }

    main>div>article:first-of-type>section:first-of-type div:first-of-type:after {
        display: none;
    }

    main>div>article:first-of-type>section:first-of-type div:first-of-type img {
        border-radius: 0;
    }


    main>div>article:first-of-type>section:first-of-type div:nth-of-type(2) {
        display: none;
    }


    /* my data */
    main>div>article:first-of-type>section:nth-of-type(2) {
        display: none;
    }


    /* the door */
    main>div>article:first-of-type>button {
        display: block;
        appearance: none;
        --webkit-appearance: none;

        width: 8em;
        height: 85%;

        position: absolute;
        left: 5em;
        bottom: 0;

        border: none;
        border-radius: 5em 5em 0 0;

        background-color: var(--wood);
        box-shadow:
            0 0 0 .5em var(--wood-shadow),
            0 0 0 .2em var(--wood);

        background-image: url(https://movieplayer.net-cdn.it/t/images/2023/02/23/suzume-recensione-anime-makoto-shinkai_XriQhpo_jpg_1600x900_crop_q85.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        cursor: pointer;
    }

    main>div>article:first-of-type>button::after {
        content: "";
        display: block;
        width: 1em;
        height: 1em;

        position: absolute;
        right: .5em;

        border-radius: 50%;

        background-color: var(--bookcase);
        box-shadow: inset 0 -.2em var(--bookcase-shadow);
    }
    
    main>div>article:first-of-type>button:hover::after{
        animation: shakingDoorHand .5s infinite both linear alternate;
    }

    @keyframes shakingDoorHand {
        from{
            box-shadow: inset .1em -.2em var(--bookcase-shadow);
        }
        to{
            box-shadow: inset -.1em -.2em var(--bookcase-shadow);
        }
    }

    main>div>article:first-of-type>section:nth-of-type(3){
        width: 100%;
        height: 100%;
        position: absolute;
        display: grid;
        place-items: center;
    }

    /* cmd icon */
    main>div>article:first-of-type>section:nth-of-type(3) > img:first-of-type{
        height: 80%;
        position: absolute;
        left: .3em;
        bottom: 0;
    }

    /* NL flag */
    main>div>article:first-of-type>section:nth-of-type(3) > img:nth-of-type(2){
        width: 5em;
        position: absolute;
        left: 5em;
        top: 0;
        z-index: 2;
    }

    /* HvA logo */
    main>div>article:first-of-type>section:nth-of-type(3) > img:nth-of-type(3){
        width: 3em;
        position: absolute;
        left: .3em;
        top: .5em;
    }

    main>div>article:first-of-type>section:nth-of-type(3) div{
        width: 3em;
        height: 95%;

        position: absolute;
        right: -.5em;

        /* background-color: aliceblue; */
    }

    main>div>article:first-of-type>section:nth-of-type(3) div img:first-of-type{
        width: 100%;
        height: 100%;
    }

    main>div>article:first-of-type>section:nth-of-type(3) div img:nth-of-type(2),
    main>div>article:first-of-type>section:nth-of-type(3) div img:nth-of-type(3),
    main>div>article:first-of-type>section:nth-of-type(3) div img:nth-of-type(4),
    main>div>article:first-of-type>section:nth-of-type(3) div img:nth-of-type(5),
    main>div>article:first-of-type>section:nth-of-type(3) div img:nth-of-type(6){
        width: 1em;
        position: absolute;
        right: 2.5em;
    }

    /* figma logo */
    main>div>article:first-of-type>section:nth-of-type(3) div img:nth-of-type(2){
        width: .8em;

        bottom: 25%;
    }
    
    /* photoshop logo */
    main>div>article:first-of-type>section:nth-of-type(3) div img:nth-of-type(3){
        bottom: 65%;
    }

    /* adobe xd logo */
    main>div>article:first-of-type>section:nth-of-type(3) div img:nth-of-type(4){
        bottom: 25%;
        right: 3.5em;
    }

    /* css logo */
    main>div>article:first-of-type>section:nth-of-type(3) div img:nth-of-type(5){
        bottom: 75%;
    }

    /* js logo */
    main>div>article:first-of-type>section:nth-of-type(3) div img:nth-of-type(6){
        width: 2em;
        bottom: 45%;
        right: 2em;
    }
}