main > div > article:first-of-type {
    gap: 3em;
}

main>div>article:first-of-type>section:first-of-type {
    width: 90%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

main>div>article:first-of-type>section:first-of-type div:first-of-type{
    width: 13em;
    height: 13em;
    position: relative;
    border-radius: 50%;

    display: grid;
    place-items: center;

    margin-bottom: 1em;
}

main>div>article:first-of-type>section:first-of-type div:first-of-type:after{
    content: "";
    display: block;
    width: 110%;
    height: 110%;
    border-radius: 50%;

    position: absolute;
    z-index: -1;

    background-color: transparent;
    background-image: repeating-conic-gradient(
        from var(--angle, 0deg),
        var(--them-color) 44.8deg,
        transparent 45.2deg);
    animation: borderRotate 4s -1s linear infinite;
}

@keyframes borderRotate {
	100% {
		--angle: 360deg;
	}
}

@property --angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
}

main>div>article:first-of-type>section:first-of-type div img {
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
    border-radius: 50%;

    align-self: center;
    
    /* box-shadow: -.5em .5em 0 var(--secondere-color); */
    /* animation: shadow 1s -.5s infinite linear both alternate; */
}

@keyframes shadow {
    from {
        box-shadow: -.5em .5em 0 var(--secondere-color);
    }

    to {
        box-shadow: .5em -.5em 0 var(--secondere-color);
    }
}

main>div>article:first-of-type>section:first-of-type div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

main>div>article:first-of-type>section:first-of-type div h1,
main>div>article:first-of-type>section:first-of-type div p,
main>div>article:first-of-type>section:first-of-type div a {
    width: fit-content;
    max-width: 60%;
    text-align: center;
    padding: 0 .5em;
    color: var(--titels-color);

    position: relative;
    background-color: var(--bg);

    display: grid;
    place-items: center;
}

main>div>article:first-of-type>section:first-of-type div a::before,
main>div>article:first-of-type>section:first-of-type div h1::before,
main>div>article:first-of-type>section:first-of-type div p::before {
    content: "";
    display: block;

    width: 90vw;
    height: .2em;

    border-radius: 2em;

    position: absolute;
    top: calc(50% - .2em / 2);
    z-index: -1;

    background-color: var(--them-color);
    animation: lineEffect 1s 1 both linear;
}

@keyframes lineEffect {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}


main>div>article:first-of-type>section:first-of-type h2{
    margin-top: 2em;
}

/* circle */

main>div>article:first-of-type>section:nth-of-type(2){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.clock {
    width: fit-content;

    width: 10em;
    height: 10em;
    border-radius: 100%;
    display: grid;
    place-items: center;
    transition: 0.5s;
    position: relative;
    background-color: var(--dark-bg);
}

.clock svg {
    position: absolute;
    width: 10em;
    height: 10em;

    display: grid;
    place-items: center;
}

.clock svg circle {
    width: 10em;
    height: 10em;
    fill: none;
    stroke-width: 10px;
    stroke-linecap: round;
    stroke-dasharray: 817;
    stroke-dashoffset: 817;
    transform-box: fill-box;
    transform-origin: center;
    transform: rotate(-90deg);

    position: absolute;
}

.clock svg circle:nth-of-type(1) {
    stroke-dashoffset: 0;
    opacity: 0.1;
    stroke: #f3f3f3;
}

.clock svg circle:nth-of-type(2) {
    stroke: var(--them-color);
    stroke-dashoffset: calc(817 - (817 * 0) / 100);
}