main>div>article:nth-of-type(5){
    display: none;
}

/* ************ */
/* larg screens */
/* ************ */

@media (min-width: 1250px){
    main>div>article:nth-of-type(5){
        display: block;
        margin-bottom: 0;
    }
}

