main>div>article:nth-of-type(4){
    /* height: 0; */
    display: none;

    position: relative;
    margin-bottom: 3em;

    /* background-color: aliceblue; */
}

main>div>article:nth-of-type(5),
main>div>article:nth-of-type(6){
    display: none;
}

main>div>article:nth-of-type(4).openIframe{
    height: fit-content;
    display: flex;
}

main>div>article:nth-of-type(4) > button{
    width: 3em;
    aspect-ratio: 1/1;

    position: absolute;
    top: 3%;
    right: 3%;
    z-index: 1;
    border: none;
    border-radius: 50%;

    background-color: var(--them-color);

    /* display: grid; */
    place-items: center;

    cursor: pointer;
    display: none;
}

main>div>article:nth-of-type(4) > button.closedIframe{
    display: grid;
}

main>div>article:nth-of-type(4) iframe {
    width: 95%;
    aspect-ratio: 9/14;
    /* aspect-ratio: 9/16; */

    border: solid .3em white;
    border-radius: 2em;
    box-shadow: 0 0 .5em white;

    transform: scaleY(0);
    transform-origin: top;
    /* transition: .5s; */
}

main>div>article:nth-of-type(4).openIframe iframe{
    transform: scaleY(1);
}