main>div>article:nth-of-type(3) {
    height: fit-content;
    padding: 0 1em 0 1em;
    /* margin-bottom: 10em; */
    overflow: hidden;

    gap: 3em;
}

main>div>article:nth-of-type(3) > section {
    width: 100%;
    height: 40em;
    perspective: 50em;
    display: grid;
    place-items: center;
    position: relative;
}

main>div>article:nth-of-type(3) > section > button{
    width: 6em;
    height: 4em;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    border: solid .2em var(--them-color);
    border-radius: 5em;
    background-color: var(--nav);

    display: grid;
    place-items: center;
    transition: .5s;
}

main>div>article:nth-of-type(3) > section > button:focus-visible,
main>div>article:nth-of-type(3) > section > button:hover{
    outline-color: transparent;
    color: var(--text-colo);
    background-color: var(--them-color);
}

main>div>article:nth-of-type(3) > section > button:active{
    transform: scale(.7);
}

main>div>article:nth-of-type(3) > section > button::after{
    position: absolute;
    bottom: .15em;
    font-size: 3em;
}

main>div>article:nth-of-type(3) > section > button:first-of-type::after{
    content: "→";
}

main>div>article:nth-of-type(3) > section > button:nth-of-type(2)::after{
    content: "←";
}


main>div>article:nth-of-type(3) > section > button:first-of-type{
    left: 80%;
}

main>div>article:nth-of-type(3) > section > button:last-of-type{
    right: 80%;
}

main>div>article:nth-of-type(3) section ul {
    width: 100%;
    height: 100%;
    list-style: none;

    transform-style: preserve-3d;
    transition: transform 1s;
    transform: translateZ(500px) ;
    /* transform: scale(.6) rotateX(-30deg); */

    position: relative;
    display: grid;
    place-items: center;

}

main>div>article:nth-of-type(3) section ul::-webkit-scrollbar {
    height: .5em;
}

main>div>article:nth-of-type(3) section ul::-webkit-scrollbar-thumb {
    background-color: var(--them-color);
    border-radius: 5em;
}

main>div>article:nth-of-type(3) section ul li {
    width: 20em;
    height: 25em;

    border-radius: 1em;

    box-shadow: 0 0 0 .3em white;
    /* -1em 1em 0 rgba(255, 255, 255, 0.103); */
    background-color: black;

    transition: .5s;
    transform-style: preserve-3d;

    overflow: hidden;

    position: absolute;

    display: grid;
    place-items: center;

    transform-origin: center;

}

main>div>article:nth-of-type(3) section ul li:first-child{
    transform: rotateY(0deg) translateZ(-501px);
}

main>div>article:nth-of-type(3) section ul li:nth-child(2){
    transform: rotateY(-60deg) translateZ(-501px);
}

main>div>article:nth-of-type(3) section ul li:nth-child(3){
    transform: rotateY(-120deg) translateZ(-501px);
}

main>div>article:nth-of-type(3) section ul li:nth-child(4){
    transform: rotateY(-180deg) translateZ(-501px);
}

main>div>article:nth-of-type(3) section ul li:nth-child(5){
    transform: rotateY(-240deg) translateZ(-501px);
}

main>div>article:nth-of-type(3) section ul li:nth-child(6){
    transform: rotateY(-300deg) translateZ(-501px);
}

main>div>article:nth-of-type(3) section ul li::after {
    content: "";
    display: block;
    width: 95%;
    height: 95%;
    position: absolute;
    border: solid .3em white;
    border-radius: 1em;

    align-self: center;
    justify-self: center;
}

main>div>article:nth-of-type(3) section ul li h3 {
    position: absolute;
    z-index: 1;

    opacity: 0;
    transition: .5s;
}

main>div>article:nth-of-type(3) section ul li:hover h3 {
    opacity: 100%;
}

main>div>article:nth-of-type(3) section ul li img {
    width: 100%;
    height: 100%;
    position: absolute;

    object-fit: cover;
    object-position: center;

    transition: .5s;
}

main>div>article:nth-of-type(3) section ul li:hover img {
    opacity: 20%;
}


main>div>article:nth-of-type(3) section ul li>section {
    display: none;
}

main>div>article:nth-of-type(3) section ul li.scan::before {
    content: "";
    display: block;
    width: 30em;
    height: .5em;

    position: absolute;
    bottom: 0;

    z-index: 3;
    background-color: red;

    animation: scanline 2s 1.1s 2 both linear alternate;
}

@keyframes scanline {
    0% {
        transform: translateY(.5em);
    }

    100% {
        transform: translateY(-33em);
    }
}

main>div>article:nth-of-type(3) section ul li.scan {
    animation: disper 1s 1.1s 4 ease-in-out alternate;
}

@keyframes disper {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}


main>div>article:nth-of-type(3) section ul li.openCard {
    background-color: var(--secondere-color);
    
    padding: 1em;
    
    animation: flipping 1s 1 both ease-out;
    
    display: grid;
    place-items: center;
    gap: 1em;
}

@keyframes flipping {
    0% {
        transform: translateZ(-501px) rotateY(0turn);
    }

    100% {
        transform: translateZ(-501px) rotateY(3turn);
    }
}

main>div>article:nth-of-type(3) section ul li.openCard>button,
main>div>article:nth-of-type(3) section ul li.openCard::after,
main>div>article:nth-of-type(3) section ul li.openCard img {
    display: none;
}

main>div>article:nth-of-type(3) section ul li.openCard h3 {
    color: var(--dark-text);
    font-size: 1.5em;
    opacity: 100%;
    position: absolute;
    top: 1.5em;
}


main>div>article:nth-of-type(3) section ul li.openCard>section {
    display: block;
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blueviolet; */
    position: absolute;
    bottom: 0;
}

main>div>article:nth-of-type(3) section ul li.openCard>section p {
    width: 100%;
    text-align: center;
    padding: 0 1em;
    position: absolute;
}



main>div>article:nth-of-type(3) section ul li section button,
main>div>article:nth-of-type(3) section ul li>button {
    width: 100%;
    height: 100%;

    appearance: none;
    -webkit-appearance: none;

    position: absolute;
    top: 0;
    z-index: 3;

    border: none;

    background-color: transparent;
    cursor: pointer;

    background-color: transparent;
}

main>div>article:nth-of-type(3) section ul li.openCard>section a {
    
    width: 7em;
    height: 2.5em;
    text-align: center;
    
    position: absolute;
    bottom: 1em;
    z-index: 3;

    display: grid;
    place-items: center;
    border-radius: 2em;
    text-decoration: none;
    color: var(--dark-text);
    
    background-color: var(--nav);
    box-shadow: -.2em .2em 0 rgba(0, 0, 0, 0.527);

    transition: .5s;
}


main>div>article:nth-of-type(3) section ul li.closeCard {
    background-color: black;

    /* animation: closeflipping 1s 1 both ease-out; */
}


/* @keyframes closeflipping {
    0% {
        transform: rotateY(0turn);
    }

    100% {
        transform: rotateY(3turn);
    }
} */

