main>div>article:nth-of-type(2){
    height: 100vh;

    /* width: 100vw; */
    padding: 0 1em;
}

main>div>article:nth-of-type(2) ul {
    width: 100%;
    height: 30em;

    list-style: none;
    padding: 0 2em;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    overflow-X: scroll;
    overflow-Y: hidden;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    gap: 2em;
}

main>div>article:nth-of-type(2) ul::-webkit-scrollbar {
    height: .5em;
}

main>div>article:nth-of-type(2) ul::-webkit-scrollbar-thumb {
    background-color: var(--them-color);
    border-radius: 5em;
}

main>div>article:nth-of-type(2) ul li {
    width: 20em;
    max-width: 30em;
    height: 35em;
    scroll-snap-align: center;
    flex-shrink: 0;

    display: grid;
    place-items: center;

    position: relative;
    transition: 1s;
}

main>div>article:nth-of-type(2) ul li.GDA::after {
    content: "";
    --width: 4em;
    width: var(--width);
    height: var(--width);

    position: absolute;
    top: 29%;
    left: calc(-1 * var(--width) /3);
    z-index: 2;

    transition: 1s;
    background-color: red;
    /* background-image: url(); */
}

main>div>article:nth-of-type(2) ul li:has(:focus-visible).GDA::after,
main>div>article:nth-of-type(2) ul li:hover.GDA::after {
    top: 9%;
}

main>div>article:nth-of-type(2) ul li>div,
main>div>article:nth-of-type(2) ul li section {
    width: 100%;
    height: 40%;
    position: absolute;

    transition: 1s;
}

main>div>article:nth-of-type(2) ul li>div {
    display: grid;
    place-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 2em;

    background-color: black;
}

main>div>article:nth-of-type(2) ul li>div h3 {
    position: absolute;
    opacity: 0;
    transition: 1s;
}

main>div>article:nth-of-type(2) ul li:has(:focus-visible)>div h3,
main>div>article:nth-of-type(2) ul li:hover>div h3 {
    opacity: 100%;
}

main>div>article:nth-of-type(2) ul li>div img {
    width: 100%;
    height: 100%;
    transition: 1s;

    object-fit: cover;
    object-position: center;
}

main>div>article:nth-of-type(2) ul li:has(:focus-visible)>div img,
main>div>article:nth-of-type(2) ul li:hover>div img {
    opacity: 20%;
}


main>div>article:nth-of-type(2) ul li section {
    display: flex;
    flex-direction: column;
    border-radius: 2em;

    overflow: hidden;
    background-color: var(--nav);
}

main>div>article:nth-of-type(2) ul li section p {
    color: var(--dark-text);
    padding: .5em;
}

main>div>article:nth-of-type(2) ul li section p:first-of-type {
    height: calc(100% - 4.5em);
}

main>div>article:nth-of-type(2) ul li section p:first-of-type::first-letter {
    text-transform: uppercase;
}

main>div>article:nth-of-type(2) ul li section p:nth-of-type(2) {
    height: 2em;
}

main>div>article:nth-of-type(2) ul li section div {
    height: 2.5em;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: var(--them-color);
}

main>div>article:nth-of-type(2) ul li section div a {
    text-decoration: none;
    width: 5.5em;
    height: fit-content;
    padding: .1em 0;

    text-align: center;
    color: var(--text-color);

    position: relative;

    transition: .5s;

    border-radius: 1em;
}

main>div>article:nth-of-type(2) ul li section div a::after {
    content: ">";
    position: absolute;
    opacity: 100%;
    animation: afterMoving .7s infinite both alternate;
    animation-play-state: running;
}

@keyframes afterMoving {
    from {
        transform: translateX(.1em);
    }

    to {
        transform: translateX(.3em);
    }
}

main>div>article:nth-of-type(2) ul li section div a:focus-visible,
main>div>article:nth-of-type(2) ul li section div a:hover {
    outline-color: transparent  ;
    color: var(--dark-text);
    background-color: white;
}

main>div>article:nth-of-type(2) ul li section div a:focus-visible::after,
main>div>article:nth-of-type(2) ul li section div a:hover::after {
    opacity: 0;
}

main>div>article:nth-of-type(2) ul li:has(:focus-visible)>div,
main>div>article:nth-of-type(2) ul li:hover>div {
    border-radius: 2em 2em 0 0;
    transform: translateY(-50%);
}

main>div>article:nth-of-type(2) ul li:has(:focus-visible) section,
main>div>article:nth-of-type(2) ul li:hover section {
    border-radius: 0 0 2em 2em;
    transform: translateY(50%);
}
