*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  caret-color: transparent;
}

:root {
  --text-color: #f2f2f2;
  --dark-text: #264143;
  --titels-color: #264143;
  --bg: #ffffcc;
  --them-color: #ff47a3;
  --secondere-color: #58004d;

  --nav: #f2f2f2;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: .5em;
}

html::-webkit-scrollbar-track {
  box-shadow: inset 0 0 .3em var(--them-color);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--them-color);
  opacity: 50%;
  border-radius: 5em;
}

/* :focus-visible{
  outline-color: transparent;
  outline-style: none;
} */

p:focus-visible{
  color: var(--dark-text);
  background-color: var(--text-color);
}

body {
  width: 100vw;
  width: 100dvw;
  height: 100%;
  /* font-family: 'Shadows Into Light', cursive; */
  /* letter-spacing: .1em; */

  font-family: 'Courgette', cursive;
  color: var(--text-color);

  overflow-x: hidden;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--bg);
}

header {
  width: 87%;
  height: 2.95em;

  position: fixed;
  top: .8em;
  z-index: 10000000;

  background-color: var(--nav);
  border-radius: 5em;
  /* border-radius: 10% 10% 10% 10% / 0% 50% 50% 0% ; */

  display: flex;
  align-items: center;
  justify-content: center;

  transform-origin: left;
  transform: scaleX(0) scaleY(0);

}

body header:has(a:focus-visible),
body>button:focus-visible ~ header{
  animation: openNav .3s 1 linear both;
}

header.openNav {
  animation: openNav .3s 1 linear both;
}

header.closeNav {
  animation: closeNav .3s 1 linear both;
}

@keyframes openNav {
  0% {
    transform: scaleX(0) scaleY(0);
  }

  5% {
    transform: scaleX(.1) scaleY(.9);
  }

  100% {
    transform: scaleX(1) scaleY(1);
  }
}

@keyframes closeNav {
  0% {
    transform: scaleX(1) scaleY(1);
  }

  95% {
    transform: scaleX(.1) scaleY(.9);
  }

  100% {
    transform: scaleX(0) scaleY(0);
  }
}

body>button {
  appearance: none;
  -webkit-appearance: none;

  display: block;
  width: 3.5em;
  height: 3.5em;

  border: none;
  border-radius: 50%;
  background-color: var(--nav);
  cursor: pointer;

  display: grid;
  place-content: center;
  gap: .5em;

  position: fixed;
  left: 1em;
  top: 1em;
  z-index: 10000001;

  transition: .5s;
}

body>button:focus-visible,
body>button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 0 .2em var(--them-color);
}

body>button:active {
  transform: scale(1);
}


body>button span {
  display: block;
  width: 2em;
  height: .3em;

  border-radius: 10em;

  background-color: black;
}

body>button.openNav {
  place-items: center;
}

body>button.openNav span {
  position: absolute;
}

body>button.openNav span:first-of-type {
  transform: rotate(45deg);
}

body>button.openNav span:nth-of-type(2) {
  opacity: 0;
}

body>button.openNav span:last-of-type {
  transform: rotate(-45deg);
}

header nav {
  width: calc(100% - 3.5em);
  height: 100%;

  display: flex;
  align-items: center;
  /* justify-content: space-between; */

  border-radius: 5em;

  background-color: var(--nav);
  position: absolute;
  right: 0;
}

header nav ul {
  list-style: none;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: .5em;

  border-radius: 5em;

  padding-right: 1em;

  /* background-color: blanchedalmond; */
}

header nav ul li {
  width: fit-content;
  height: 100%;

  position: relative;
}

header nav ul li::after {
  content: "";
  display: block;
  width: 100%;
  height: .3em;
  
  position: absolute;
  bottom: 0;
  
  border-radius: 1em;
  
  background-color: var(--them-color);
  transform: scaleX(0);
}

header nav ul li:has(a:focus-visible)::after,
header nav ul li:hover::after {
  animation: liHover .2s 1 both linear;
}

@keyframes liHover{
  from{
    transform: scaleX(0);
  }
  to{
    transform: scaleX(1.5);
  }
}

header nav ul li a {
  text-decoration: none;

  width: 100%;
  height: 100%;

  font-size: 1rem;

  display: grid;
  place-items: center;

  color: var(--dark-text);
}











/* ********************* */
/* ******** main ******* */
/* ********************* */


main {
  width: 100%;
}

main>div {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 4em;

}

main>div>article {
  width: 100vw;
  width: 100dvw;
  padding: 2em 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  gap: 1em;

  scroll-margin-top: 1em;
}

main>div>article h2{
  padding: 0 .5em;
  display: grid;
  place-items: center;

  position: relative;

  color: var(--titels-color);
  background-color: var(--bg);
}

main>div>article h2::after{
  content: "";
  display: block;

  width: 90vw;
  width: 90dvw;
  height: .2em;

  border-radius: 2em;
  position: absolute;
  top: calc(50% - .2em / 2);
  z-index: -1;

  background-color: var(--them-color);
  animation: lineEffect2 1s 1 both linear;
}

@keyframes lineEffect2 {
  from {
      transform: scaleX(0);
  }

  to {
      transform: scaleX(1);
  }
}