*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  caret-color: transparent;
}

:root {
  --bg: #ffffe7;
  --dark-bg: #1B2430;
  --text-color: #ffffff;
  --dark-text: #264143;
  --titels-color: #264143;
  --them-color: #ff47a3;
  --secondere-color: #58004d;

  --nav: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1B2430;
    --titels-color: #ffffff;
  }
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: .5em;
}

html::-webkit-scrollbar-track {
  box-shadow: inset 0 0 .3em var(--them-color);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--them-color);
  opacity: 50%;
  border-radius: 5em;
}

p:focus-visible {
  color: var(--dark-text);
  background-color: var(--text-color);
}

body {
  width: 100vw;
  width: 100dvw;
  height: 100%;

  font-family: 'Courgette', cursive;
  color: var(--text-color);

  overflow-x: hidden;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--bg);
}

header {
  width: 87%;
  height: 2.95em;

  position: fixed;
  top: .8em;
  z-index: 10000000;

  background-color: var(--nav);
  border-radius: 5em;
  /* border-radius: 10% 10% 10% 10% / 0% 50% 50% 0% ; */

  display: flex;
  align-items: center;
  justify-content: center;

  transform-origin: left;
  transform: scaleX(0) scaleY(0);

}

body header:has(a:focus-visible),
body>button:focus-visible~header {
  animation: openNav .3s 1 linear both;
}

header.openNav {
  animation: openNav .3s 1 linear both;
}

header.closeNav {
  animation: closeNav .3s 1 linear both;
}

@keyframes openNav {
  0% {
    transform: scaleX(0) scaleY(0);
  }

  5% {
    transform: scaleX(.1) scaleY(.9);
  }

  100% {
    transform: scaleX(1) scaleY(1);
  }
}

@keyframes closeNav {
  0% {
    transform: scaleX(1) scaleY(1);
  }

  95% {
    transform: scaleX(.1) scaleY(.9);
  }

  100% {
    transform: scaleX(0) scaleY(0);
  }
}

body>button {
  appearance: none;
  -webkit-appearance: none;

  display: block;
  width: 3.5em;
  height: 3.5em;

  border: none;
  border-radius: 50%;
  background-color: var(--nav);
  cursor: pointer;

  display: grid;
  place-content: center;
  gap: .5em;

  position: fixed;
  left: 1em;
  top: 1em;
  z-index: 10000001;

  transition: .5s;
}

body>button:focus-visible,
body>button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 0 .2em var(--them-color);
}

body>button:active {
  transform: scale(1);
}


body>button span {
  display: block;
  width: 2em;
  height: .3em;

  border-radius: 10em;

  background-color: black;
}

body>button.openNav {
  place-items: center;
}

body>button.openNav span {
  position: absolute;
}

body>button.openNav span:first-of-type {
  transform: rotate(45deg);
}

body>button.openNav span:nth-of-type(2) {
  opacity: 0;
}

body>button.openNav span:last-of-type {
  transform: rotate(-45deg);
}

header nav {
  width: calc(100% - 3.5em);
  height: 100%;

  display: flex;
  align-items: center;
  /* justify-content: space-between; */

  border-radius: 5em;

  background-color: var(--nav);
  position: absolute;
  right: 0;
}

header nav ul {
  list-style: none;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: .5em;

  border-radius: 5em;

  padding-right: 1em;

  /* background-color: blanchedalmond; */
}

header nav ul li {
  width: fit-content;
  height: 100%;

  position: relative;
}

header nav ul li::after {
  content: "";
  display: block;
  width: 100%;
  height: .3em;

  position: absolute;
  bottom: 0;

  border-radius: 1em;

  background-color: var(--them-color);
  transform: scaleX(0);
}

header nav ul li:has(a:focus-visible)::after,
header nav ul li:hover::after {
  animation: liHover .2s 1 both linear;
}

@keyframes liHover {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1.5);
  }
}

header nav ul li a {
  text-decoration: none;

  width: 100%;
  height: 100%;

  font-size: 1rem;

  display: grid;
  place-items: center;

  color: var(--dark-text);
}











/* ********************* */
/* ******** main ******* */
/* ********************* */


main {
  width: 100%;
}

main>div {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 4em;

}

main>div>article {
  width: 100vw;
  width: 100dvw;
  padding: 2em 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  gap: 1em;

  scroll-margin-top: 1em;
}

main>div>article h2 {
  padding: 0 .5em;
  display: grid;
  place-items: center;

  position: relative;

  color: var(--titels-color);
  background-color: var(--bg);
}

main>div>article h2::after {
  content: "";
  display: block;

  width: 90vw;
  width: 90dvw;
  height: .2em;

  border-radius: 2em;
  position: absolute;
  top: calc(50% - .2em / 2);
  z-index: -1;

  background-color: var(--them-color);
  animation: lineEffect2 1s 1 both linear;
}

@keyframes lineEffect2 {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}









body>button:nth-last-of-type(-n+4){
  display: none;
}














@media (min-width: 1250px) {
  :root {
    --wood: rgb(179, 100, 26);
    --wood-shadow: rgba(109, 57, 8, 0.692);

    --screen: rgb(43, 43, 43);

    --bed-sheet: hsl(323, 100%, 78%);
    --bed-cover: hsl(324, 100%, 88%);

    --bed-sheet-shadow: hsl(323, 78%, 67%);
    --bed-cover-shadow: hsl(324, 63%, 75%);

    --bookcase: rgb(255, 224, 124);
    --bookcase-shadow: rgb(230, 187, 48);

    --bookcase-part: rgb(243, 201, 64);
    --bookcase-part-shadow: rgb(212, 171, 37);

    --screen-shadow: #fdfdb6;
  }

  body>button:first-of-type,
  header {
    display: none;
  }

  body {
    height: 100dvh;
    display: block;
    overflow: hidden;
  }

  body>button:nth-last-of-type(-n+4) {
    width: 10em;
    height: 5em;
    position: fixed;
    left: calc(50% - 10em /2);
    bottom: 2em;
    top: auto;
    border-radius: 1em;
    /* background-color: brown; */
    cursor: pointer;
    z-index: 10000000;
    display: grid;

    background-color: #58004c00;
  }

  body>button:nth-last-of-type(-n+4) img{
    transition: .5s;
  }

  body>button:nth-last-of-type(-n+4):focus-visible,
  body>button:nth-last-of-type(-n+4):hover{
    box-shadow: none;
  }

  body>button:nth-last-of-type(-n+4) img{
    width: 5em;
    filter: drop-shadow(0 0 .2em rgb(255, 0, 157));
  }
    /* left */
  body>button:nth-last-of-type(2){
    transform: translateX(-15em);
  }

  
  body>button:nth-last-of-type(2) img{
    transform: rotate(-90deg);
  }

  body>button:nth-last-of-type(2):focus-visible,
  body>button:nth-last-of-type(2):hover img{
    transform: rotate(-90deg) scale(1.3);
  }

  /* right */
  body>button:last-of-type {
    transform: translateX(15em);
  }

  body>button:last-of-type img{
    transform: rotate(90deg);
  }

  body>button:last-of-type:focus-visible,
  body>button:last-of-type:hover img{
    transform: rotate(90deg) scale(1.3);
  }

  /* fore / back */
  body>button:nth-last-of-type(3),
  body>button:nth-last-of-type(4){
    bottom: 3em;
  }

  body>button:nth-last-of-type(3){
    transform:translateX(-5em);
  }

  body>button:nth-last-of-type(4){
    transform:translateX(5em);
  }

  /* fore */
  body>button:nth-last-of-type(3):focus-visible,
  body>button:nth-last-of-type(3):hover img{
    transform: scale(1.3);
  }

  /* back */
  body>button:nth-last-of-type(4) img{
    transform: rotate(-180deg);
  }

  body>button:nth-last-of-type(4):focus-visible,
  body>button:nth-last-of-type(4):hover img{
    transform: rotate(-180deg) scale(1.3);
  }

  body>button.hiddenButton{
    display: none;
  }




  main {
    height: 100%;


    display: grid;
    place-content: center;

    transform-style: preserve-3d;
    perspective: 100vmin;
  }

  main>div {
    position: relative;
    inline-size: 50vmin;
    aspect-ratio: 2;
    background-color: rgba(197, 197, 197, 0);

    transform-style: preserve-3d;
    transform: translatez(80vmin) rotateY(0turn);
    /* transform: translatez(90vmin) rotateY(-.25turn); */

    transition: 1s;
    /* pointer-events: none; */
    /* animation:draai 10s infinite linear; */
    }

  /* @keyframes draai {
    to {
      transform: translatez(76vmin) rotatey(1turn);
    }
  } */

  main>div>article {
    position: absolute;
    width: unset;
    height: unset;

    box-shadow: inset 0 0 0 .05em white;
    background-color: var(--bg);
  }

  main>div>article h2::after {
    display: none;
  }

  /* main>div>article:first-of-type *{
    opacity: 0;
  } */

  main>div>article:first-of-type {
    inset: 0;
    transform: translatez(25vmin) rotateY(180deg);
    /* background-color:#f006; */
  }

  main>div>article:nth-of-type(2) {
    inset: 0;
    transform: rotateY(0turn) translatez(-25vmin);
    /* background-color:#0f06; */
  }

  main>div>article:nth-of-type(3) {
    inset: 0;
    transform: rotateY(.75turn) translatez(-25vmin);
    /* background-color:#ff06; */
  }

  main>div>article:nth-of-type(4) {
    inset: 0;
    transform: rotateY(.25turn) translatez(-25vmin);
    /* background-color:#0ff6; */
  }

  /* floor */
  main>div>article:nth-of-type(5) {
    inset: -50% 0;
    transform: rotateX(.25turn) translatez(-12.5vmin);
    /* background-color:#00f6; */
  }

  main>div>article:nth-of-type(6) {
    inset: -50% 0;
    transform: rotateX(-.25turn) translatez(-12.5vmin);
    background-color: #f0F6;
  }

}